body {
  font-size: 10px;
  font-family: sans-serif;
}

body, p, h3 {
  padding:0;
  margin: 0;
}

#app-parameters {
  background-color: rgba(0, 0, 0, 0.1) !important;
  left:0;
  position: fixed;
  padding-bottom: 10px;
  top:0;
}

#app-parameters > .displayable-struct {
  position: relative;
}

.column { 
  float: left;
  padding-right: 8px;
  width: 145px;
}

.param-field {
  max-width: 200px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.rc-slider {
  padding: 2px 0 15px 0 !important;
}

.rc-slider-track {
  background-color: #888 !important;
  height: 14px !important;
  border-radius: 0px !important;
}

.rc-slider-rail {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 0px !important;
  height: 14px !important;
}
.rc-slider-handle {
  display: none !important;
}